################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarchMadness/MarchMaddness_Results1.txt
/MarchMadness/MarchMaddness_Results2.txt
/MarchMadness/MarchMadness2023_ComputerPicks.docx
/MarchMadness/MarchMadness2023_MyPicks.docx
